@import "./mixin.scss";
@import "./base.scss";
.modal__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  text-align: center;
}

.modal__content {
  overflow: hidden;
  position: fixed;

  z-index: 2;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in;
  background-color: #fff;
}

.modal__show .modal__backdrop,
.modal__show .modal__content {
  opacity: 1;
  z-index: 2;
  pointer-events: auto;
}

.modal__btn-close {
  float: right;
  font-family: sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  text-decoration: none;
  margin: 20px;
}

.modal__btn-close:focus,
.modal__btn-close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
}

.modal__body {
  position: relative;
  display: flex;

  overflow: auto;
  width: 100%;
  height: 100%;
  @include adapt(600px) {
    display: flex;
    flex-direction: column;
  }
  .modal__baner {
    position: relative;
    width: 100%;

    .baner__img {
      position: absolute;
      top: 40%;
      right: 0;
      transform: translateY(-50%);
      width: 600px;
      height: 600px;
      @include adapt(600px) {
        width: 100%;
        position: absolute;
        top: 200px;

        transform: translateY(-50%);
        width: 600px;
        height: 600px;
      }
    }
  }
  .modal__header {
    position: relative;
    width: 50%;

    &__title {
      position: absolute;
      top: 17%;
      left: 4%;
      @include adapt(600px) {
        top: 390px;
        display: flex;
        justify-content: start;
      }

      width: 400px;
      padding: 0 0 24px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #d8d8d8;
      color: black;
      font-weight: 300;
      letter-spacing: 0px;
      line-height: 28px !important;
      font-size: 20px !important;
    }
    &__text {
      position: absolute;
      top: 22%;
      left: 4%;

      width: 400px;
      display: flex;
      justify-content: flex-start;
      @include adapt(600px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        top: 450px;
        left: -12px;
      }

      font-family: "Raleway";
      font-size: 14px !important;
      .user-name {
        color: #030303;
      }
      .link {
        color: #575757;
      }
    }
    .last-leter {
      vertical-align: -4px;
    }
  }
}
